<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991042237694-8p0oehun6n5i50dil6apqqdh5d0u14e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991042237694-8p0oehun6n5i50dil6apqqdh5d0u14e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCptsqivcPQbeZ9cDKcpV_n8Tfc_x8x1No</string>
	<key>GCM_SENDER_ID</key>
	<string>991042237694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tqmane.similarityQuiz</string>
	<key>PROJECT_ID</key>
	<string>similarity-quiz-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>similarity-quiz-sync.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991042237694:ios:2e3f9a6d05f4e9a63161af</string>
	<key>DATABASE_URL</key>
	<string>https://similarity-quiz-sync-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>